
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Axiforma,Aileron,Avenir,HelveticaNeue,ProximaNova,SegoeUI,SFUIDisplay,sans-serif;
}

body {
    background-color:white;
}

/* Header style */

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background-color: transparent;
    padding: 0px 24px;
    margin: 0px 66px;
    min-height: 6rem;
    max-width: 100vw;
    align-items: center;
}

.header__home{
    display: flex;
    width: 60vw;
    justify-content: left;
    align-items: center;
    gap: 3px;
}

.header__home__logo-icon{
    display: flex;
    height: 2.3rem;
    width: 2.3rem;
    color: transparent;
}

.header__home__logo-txt{
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}

.header__nav{
    display: flex;
    font-size: .9rem;
    font-weight: 500;
    color: white;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}

.header__contact{
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: flex-end;
}

/* Hero section style */

.hero-section{
    display: flex;
    background-image: url("./images/home_landing.webp");
    background-position: center;
    background-size: cover;
    align-items: center;
}

.hero-section__landing-space{
    display: flex;
    max-width: 100vw;
    margin: 0px 66px;
    padding: 0px 24px;
    background-position: center;
    background-size: cover;
    align-items: end;
}

.hero-section__landing-space__social-media-nav{
    display: flex;
    flex-direction: column;
}

.hero-section__landing-space__main-content
{
    display: flex;
    flex-direction: column;
}

.hero-section__landing-space__main-content__title-space{
    display: flex;
    background-color: transparent;
    margin: 11rem 0rem 0rem 7rem;
    color: white;
}

.hero-section__landing-space__main-content__title-space__title-txt{
    display: block;
    font-size: 4.35rem;
    font-family: Avenir;
    color: white;
    max-width: 41rem;
    letter-spacing: -4px;
    font-weight: 500;
    line-height: 5rem;
}

.hero-section__landing-space__main-content__title-space__letus-talk-btn{
    display: flex;
    font-size: .9rem;
    font-weight: 500;
    margin-top: 2rem;
    justify-content: left;
    align-items: flex-end;
}

.hero-section__landing-space__social-media-nav__social-media-nav-space{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 300px;
    min-width: 40px;
    padding: 20px;
    padding-bottom: 30px;
}

.hero-section__landing-space__social-media-nav__social-media-nav-space__social-media-nav-icon{
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.hero-section__landing-space__main-content__middle-space{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-section__landing-space__main-content__middle-space__read-blog
{
    display: flex;
    flex-direction: row;
    padding: 2rem 10rem 4rem 0;
    align-items: center;
    justify-content: right;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    gap: 1.5rem;
}

.hero-section__landing-space__main-content__middle-space__read-blog__pwa-btn{
    display: flex;
    border: 10px solid gray;
    align-items: center;
    justify-content: center;
    padding: .9rem .9rem;
    background-color: white;
    border-radius: 50%;
}

.landing_middle_readnow_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.hero-section__landing-space__main-content__middle-space__read-highlights{
    display: flex;
    justify-content: center;
    padding-left:7rem;
    padding-right: 10rem;
    color: white;
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: .75px;
    font-family: ProximaNova;

}

.hero-section__landing-space__main-content__middle-space__read-highlights--highlights{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #00224e;
    padding: 1.5rem;
    align-items: center;
}

.hero-section__landing-space__main-content__middle-space__read-highlights__read-now-content
{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(30px);
    gap: 1rem;
    padding: 1.5rem;
}

.hero-section__landing-space__main-content__middle-space__read-highlights__read-now-content__read
{
    display: flex;
    gap: 1rem;
}

.hero-section__landing-space__main-content__middle-space__read-highlights__read-now-content__read__blog-image{
    height: 2.2rem;
    width: 2.2rem;
}

/* Text slide section style */

.textslide-section{
    background-color: #023978;
    clip-path: polygon(100% calc(100% - 50px),130px 100%,0 calc(100% - 70px),0 0,100% 0);
}

.textslide-section::before{
    width: 120px;
    height: 120px;
    border-top-right-radius: 40px;
    bottom: -685px;
    left: 0;

    content: "";
    background: linear-gradient(60deg,#2166ba,#bfcaf6);
    position: absolute;
    transform: rotate(-15deg);
}

.textslide-section__main-content{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin: 0px 66px;
    padding: 7rem 7rem 14rem;
    background-position: center;
    background-size: cover;
}

.textslide-section__main-content__txt-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    min-height: 10rem;
}

.textslide-section__main-content__icon-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textslide-section__main-content__icon-space img{
    max-width: 180px;
}

.textslide-section__main-content__txt-section__txt{
    font-size: 2rem;
    line-height: 2.75rem;
    font-family: Avenir;
    font-weight: 400;
    letter-spacing: -.82px;
    color: #fff;
    max-width: 80%;
}

.textslide-section__main-content__txt-section__txt-nav{
    display: flex;
    min-width: 10%;
    justify-content: space-between;
    align-items: center;
}

.textslide-section__main-content__txt-section__txt-nav img{
    width: 40px;
    height: 35px;
    filter: brightness(0) invert(1);
}

/* Production section style */

.production-section{
    display: flex;
    justify-content: center;
}

.production-section__main-content{
    display: flex;
    align-items: center;
    max-width: 100vw;
    gap: 5rem;
    margin: 0px 60px;
    padding: 5rem 0rem 2rem 5rem;
}

.production-section__main-content__production-icon{
    display: grid;
    grid-template-columns: repeat(3,.5fr);
    align-items: center;
    gap: 2rem;
}

.production-section__main-content__production-icon__short-icon{
    height: 50px;
    width: 70px;
}

.production-section__main-content__production-icon__medium-icon{
    height: 60px;
    width: 160px;
}

.production-section__main-content__production-icon__long-icon{
    height: 35px;
    width: 150px;
}

.production-section__main-content__production-idea{
    display: flex;
    flex-direction: column;
}

.production-section__main-content__production-idea__heading{
    font-size: 1.75rem;
    letter-spacing: -.75px;
    line-height: 2.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #333;
}

.production-section__main-content__production-idea__heading__content{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    max-width: 550px;
}

.production-section__main-content__production-idea button{
    background-color: white;
    border: 1.5px solid #004ca2;
    color: #004ca2;
    font-size: 1rem;
    font-weight: 400;
    width: 320px; 
    height: 40px;
    z-index: 1;
}

/* Service section style */

.service-section{
    background-color: rgb(237,245,255);
    clip-path: polygon(calc(100% - 187px) 0,100% 100px,100% 100%,0 100%,0 50px);
}

.service-section::before{
    width: 10rem;
    height: 10rem;
    border-top-right-radius: 45px;
    top: 1761px;
    right: 15px;

    content: "";
    background: linear-gradient(75deg,#e9f3ff,#9dceff);
    position: absolute;
    transform: rotate(165deg);
}

.service-section__main-content{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin: 0px 90px;
    padding: 15rem 10rem 0;
    height: 100%;
}

.service-section__main-content__title{
    display: flex;
}

.service-section__main-content__title__txt{
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #2a3f79;
    margin-bottom: 2.5rem;
}

.service-section__main-content__description{
    display: flex;
    justify-content: space-between;
}

.service-section__main-content__description__content{
    display: flex;
    flex-direction: column;
}

.service-section__main-content__description__content__title{
    width: 100%;
    height: 100%;
}

.service-section__main-content__description__content__title__txt{
    font-size: 2.5rem;
    font-weight: 500rem;
    letter-spacing: -1.14px;
    color: #004ca2;
    max-width: 30rem;
    margin-bottom: 1.5rem;
}

.service-section__main-content__description__content__para{
    width: 100%;
    height: 100%;
}

.service-section__main-content__description__content__para__txt{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: .2px;
    max-width: 27rem;
}

.service-section__main-content__description__icon{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.service-section__main-content__service-type{
    display: flex;
    flex-direction: column;
}

.service-section__main-content__service-type--service{
    display: flex;
    padding: 3rem;
    flex-direction: column;
    margin-top: 6.5rem;
    gap: 1rem;
    background: transparent linear-gradient(131deg,#004ca2,#00224e);
    border-radius: 1rem;
    color: white;
}

.service-section__main-content__service-type--service__num{
    font-size: 1rem;
    font-weight: 500;
}

.service-section__main-content__service-type--service__title{
    font-size: 2rem;
    font-weight: 700;
}

.service-section__main-content__service-type--service__description{
    font-size: .7rem;
    font-weight: 300;
    line-height: .9rem;
}

.service-section__main-content__service-type--service__dev-option{
    display: flex;
    justify-content: space-between;
}

.service-section__main-content__service-type--service__dev-option__list{
    display: flex;
    flex-direction: column;
}

.service-section__main-content__service-type--service__dev-option__list__option{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-section__main-content__service-type--service__dev-option__list__know-btn{
    margin-top: 2rem;
    height: 2.5rem;
    width: 9rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border: .1rem solid white;
    color: white;
}

.service-section__main-content__service-type__service{
    display: flex;
    align-items: center;
    padding: 2rem 3rem 2rem 2rem;
    gap: 2.75rem;
    border-bottom: 3px solid #004ca2;
}

.service-section__main-content__service-type--service__img{
    position: absolute;
    max-width: 100%;
    top: 140rem;
    left: 45rem;
}

.service-section__main-content__service-type__service__icon{
    height: 80px;
    width: 80px;
}

.service-section__main-content__service-type__service__title{
    font-size: 1.3rem;
    font-weight: 600;
    color: #004ca2;
}

.service-section__main-content__service-type__service__description{
    max-width: 85%;
    color: #707070;
    font-size: .7rem;
    font-weight: 300;
    line-height: .9rem;
}

.service-section__main-content__service-type__service__details-icon{
    transform: rotate(90deg);
}

/* Metric section style */

.metrics-section{
    display: flex;
    justify-content: center;
    background-color: rgb(237,245,255);
}

.metrics-section__main-content{
    padding: 5rem 7rem 5rem 15rem;
    display: flex;
    max-width: 100vw;
    align-items: baseline;
    justify-content: space-between;
    gap: 3rem;
}

.metric-section__main-content__metric{
    display: flex;
    flex-direction: column;
}

.metric-section__main-content__metric__count{
    display: flex;
    font-family: Axiforma;
    font-weight: 100;
    color: #484848;
    font-size: 2.75rem;
    margin-left: 5px;
}

.metric-section__main-content__metric__count__value{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.3rem;
    font-weight: bold;
    color: #004ca2;
    margin-bottom: 0.5rem;
}

.metric-section__main-content__metric__txt{
    font-weight: 450;
    min-width: 12rem;
}

/* Blog card section style */

.blog-card-section{
    display: flex;
    justify-content: center;
    background-color: rgb(237,245,255);
    padding: 7rem;
}

.blog-card-section__main-content{
    display: flex;
    width: 100vw;
    background-color: rgb(0,76,161);
}

.blog-card-section__main-content__card{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5rem 3rem 5rem 5rem;
    max-width: 33rem;
}

.blog-card-section__main-content__card__title{
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 500;
    letter-spacing: -1.55px;
    margin-bottom: 1.5rem;
}

.blog-card-section__main-content__card__description{
    letter-spacing: .2px;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.blog-card-section__main-content__card__btn{
    color: white;
    margin-top: 2rem;
    height: 2.5rem;
    width: 9rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: transparent;
    border: .1rem solid white;
}

.blog-card-section__main-content__img-spot__img{
    display: flex;
}

.blog-card-section__main-content__img-spot__img{
    display: flex;
    position: absolute;
    top: 229rem;
    right: 6rem;
}

/* Portfolio section style */

.portfolio-section{
    display: flex;
    justify-content: center;
    max-width: 100vw; 
}

.portfolio-section__main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    background-color: rgb(237,245,255);
}

.portfolio-section__main-content__title{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 65%;
    padding-left: 12rem;
}

.portfolio-section__main-content__title__txt{
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: darkgrey;
    margin-bottom: 2rem;
}

.portfolio-section__main-content__title__addressing{
    font-size: 2.75rem;
    font-weight: 500;
    letter-spacing: -1.14px;
    color: #004ca2;
    margin-bottom: 2rem;
}

.portfolio-section__main-content__tittle__description{
    line-height: 1.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
    max-width: 80%;
}

.portfolio-section__main-content__project{
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.portfolio-section__main-content__project__vertical-line{
    position: absolute;
    left: 50%;
    top: 293rem;
    bottom: 0;
    width: .1rem;
    height: 120.9rem;
    background-image: linear-gradient(transparent, red), linear-gradient(red, blue), linear-gradient(blue, transparent);
    background-position: 0 0, 0 10rem, 0 110rem;
    background-size: 100% 10rem, 100% calc(100% - 20rem), 100% 10rem;
    background-repeat: no-repeat;
}

.portfolio-section__main-content__project__carbon-hound-dot{
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    top: 300rem;
    left: 49.7%;
    background-color: rgb(253,100,96);
    border-radius: 50%;
}

.portfolio-section__main-content__project__aligner4d-dot{
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    left: 49.7%;
    top: 342rem;
    background-color:rgb(156,9,119);
    border-radius: 50%;
}

.portfolio-section__main-content__project__messy-fm-dot{
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    left: 49.7%;
    top: 385rem;
    background-color: rgb(44,6,217);
    border-radius: 50%;
}

.portfolio-section__main-content__project__carbon-hound{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-left: 10rem;
    margin-left: 4rem;
}

.portfolio-section__main-content__project__carbon-hound__img{
    width: 50%;
    margin: 0rem 4rem;
}

.portfolio-section__main-content__project__aligner4d{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-left: 8rem;
    margin-left: 4rem;
}

.portfolio-section__main-content__project__aligner4d__img{
    padding-right: 10rem;
}

.portfolio-section__main-content__project__messy-fm{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-left: 10rem;
    margin-left: 4rem;
}

.portfolio-section__main-content__project__messy-fm__img{
    width: 50%;
    margin: 0rem 4rem;
}

.portfolio-section__main-content__project__details__summary{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}

.portfolio-section__main-content__project__details__summary--aligner4d{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-right: 24rem;
    padding-left: 4rem;
}

.portfolio-section__main-content__project__details__summary__domain{
    font-size: .7rem;
    font-weight: 550;
    color: #000;
    letter-spacing: .15rem;
}

.portfolio-section__main-content__project__details__summary__description{
    font-size: 1rem;
    font-weight: 300;
    color: #707070;
    max-width: 20rem;
}

.portfolio-section__main-content__view-portfolio{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.portfolio-section__main-content__view-portfolio__btn{
    background: none;
    width: 10rem;
    height: 2.5rem;
    border: 1.5px solid #004ca2;
    color: #004ca2;
    font-weight: 500;
}

/* Technology section style */

.technology-section{
    display: flex;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(237,245,255);
}

.technology-section__main-content{
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    margin: 0rem 4rem;
    padding: 4rem 10rem;
}

.technology-section__main-content__title{
    font-size: 0.7rem;
    font-weight: 550;
    letter-spacing: 2.5px;
    color: #6f6f6f;
    letter-spacing: 2.33px;
    margin-bottom: 2rem;
}

.technology-section__main-content__addressing{
    font-size: 2.75rem;
    font-weight: 500;
    letter-spacing: -1.14px;
    color: #004ca2;
    max-width: 70%;
    margin-bottom: 1.5rem;
    line-height: 4rem;
}

.technology-section__main-content__description{
    color: black;
    letter-spacing: .17px;
    margin-bottom: 2.5rem;
    max-width: 60%;
    font-weight: 425;
    font-size: 1rem;
}

.technology-section__main-content__partners{
    display: grid;
    row-gap: 2rem;
    column-gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0rem 1rem;
    filter: grayscale(100%);
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
}

.technology-section__main-content__partners__list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.technology-section__main-content__partners__list__img{
    height: 4rem;
    width: 3.5rem;
}

.technology-section__main-content__partners__list__name{
    font-size: .7rem;
    text-align: center;
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 3.33px;
}

/* Staff augmentation section style */

.staff-augmentation-section{
    display: flex;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(237,245,255);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 86% 100%, 0 95%);
    overflow: clip;
}

.staff-augmentation-section::before{
    width: 180px;
    height: 125px;
    border-top-right-radius: 40px;
    top: 550rem;
    right: 13px;

    content: "";
    background: linear-gradient(359deg,#e9f3ff,#9dceff);
    position: absolute;
    transform: rotate(305deg);
}

.staff-augmentation-section__main-content{
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
    padding: 2rem 2rem 15rem;
}

.staff-augmentation-section__main-content__view{
    display: flex;
    gap: 4rem;
}

.staff-augmentation__main-content__view__img{
    height: 39.43rem;
    width: 56.25rem;
}

.staff-augmentation-section__main-content__view__meet-agile{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    margin-bottom: 4rem;
    align-items: flex-start;
}

.staff-augmentation-section__main-content__view__meet-agile__btn{
    display: flex;
    border: 10px solid lightblue;
    align-items: center;
    justify-content: center;
    padding: .8rem .8rem;
    background-color: rgb(0,76,160);
    border-radius: 50%;
}

.staff-augmentation-section__main-content__view__meet-agile__txt{
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .06px;
    max-width: 10rem;
}

.staff-augmentation-section__main-content__context{
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 0rem 15rem;
}

.staff-augmentation-section__main-content__context__title{
    font-size: .7rem;
    font-weight: 550;
    letter-spacing: 2.5px;
    color: #6f6f6f;
    margin-bottom: 2rem;
}

.staff-augmentation-section__main-content__context__description{
    font-size: 2.75rem;
    font-weight: 500;
    max-width: 60rem;
    letter-spacing: -1.14px;
    margin-bottom: 1.5rem;
    color: #004ca2;
}

.staff-augmentation-section__main-content__context__contact-btn{
    background: none;
    border: 1.5px solid #004ca2;
    color: #004ca2;
    font-weight: 500;
    height: 2.5rem;
    width: 10rem;
}

/* Achievements section style */

.achievements-section{
    display: flex;
    max-width: 100vw;
}

.achievements-section__main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding: 0rem 11rem 6rem;
    margin: 6rem 5rem 0rem 5rem;
    background-color: white;
}

.achievements-section__main-content__context{
    display: flex;
    justify-content: space-between;
}

.achievements-section__main-content__context__txt__title{
    font-size: 2.75rem;
    font-weight: 500;
    max-width: 20rem;
    letter-spacing: -1.14px;
    margin-bottom: 1.5rem;
    color: #004ca2;
}

.achievements-section__main-content__context__txt__description{
    color: black;
    letter-spacing: .17px;
    margin-bottom: 4rem;
    max-width: 65%;
    font-weight: 425;
    font-size: 1rem;
}

.achievements-section__main-content__context__icon{
    height: 4.5rem;
    width: 3.5rem;
}

.achievements-section__main-content__awards{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.achievements-section__main-content__awards__img{
    height: 15rem;
    width: 15rem;
}

/* Blogs section style */

.blogs-section{
    display: flex;
    max-width: 100vw;
}

.blogs-section__main-content{
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    padding: 0rem 0rem 10rem;
    margin: 6rem 16rem;
    border-bottom: 1px solid #c3bebe;
}

.blogs-section__main-content__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.blogs-section__main-content__title__txt{
    font-size: .7rem;
    font-weight: 550;
    letter-spacing: 2.5px;
    color: #6f6f6f;
    margin-bottom: 2rem;
}

.blogs-section__main-content__titel__btn{
    background: none;
    border: 1.5px solid #004ca2;
    color: #004ca2;
    font-weight: 500;
    height: 2.5rem;
    width: 10rem;
}

.blogs-section__main-content__addressing{
    font-size: 2.75rem;
    font-weight: 500;
    max-width: 50rem;
    letter-spacing: -1.14px;
    margin-bottom: 3rem;
    color: #004ca2;
    line-height: 3.5rem;
}

.blogs-section__main-content__context{
    display: flex;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.blogs-section__main-content__context__img{
    width: 38.125rem;
    height: 23.275rem;
    border-radius: 5%;
}

.blogs-section__main-content__context__details{
    display: flex;
    flex-direction: column;
}

.blogs-section__main-content__context__details__title{
    margin-top: 0.5rem;
    font-size: 1.75rem;
    font-weight: 450;
    color: #003979;
    letter-spacing: -1px;
    max-width: 17rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.blogs-section__main-content__context__details__time{
    font-size: .8rem;
    font-weight: 400;
    color: #7c7c7c;
    letter-spacing: .7px;
    margin-bottom: 1.5rem;
}

.blogs-section__main-content__context__details__description{
    font-size: .9rem;
    font-weight: 450;
    max-width: 16rem;
}

.blogs-section__main-content__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

.blogs-section__main-content__list__img{
    height: 13rem;
    width: 18.5rem;
    border-radius: 5%;
}

/* Contact section style */

.contact-section{
    display: flex;
    max-width: 100vw;
}

.contact-section__main-content{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0rem 6rem;
    padding: 2rem 5rem 1rem 10rem;
}

.contact-section__main-content__info{
    display: flex;
    flex-direction: column;
}

.contact-section__main-content__info__project{
    font-size: 2.75rem;
    font-weight: 500;
    max-width: 24rem;
    letter-spacing: -1.14px;
    margin-bottom: 1.5rem;
    color: #004ca2;
}

.contact-section__main-content__info__scope{
    font-size: .9rem;
    font-weight: 450;
    max-width: 22rem;
}

.contact-section__main-content__info__title{
    font-size: .7rem;
    font-weight: 550;
    letter-spacing: 2.5px;
    color: #6f6f6f;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.contact-section__main-content__info__contact{
    font-size: 1.3rem;
    font-weight: 600;
}

.contact-section__main-content__info__country{
    display: flex;
    gap: 2rem;
}

.contact-section__main-content__info__country__icon{
    height: 2.5rem;
    width: 2.5rem;
}

.contact-section__main-content__form{
    display: flex;
    flex-direction: column;
    gap: 1.35rem;
}

.contact-section__main-content__form__input{
    padding: 1rem;
    background-color: rgb(244,244,244);
    border: none;
    width: 30rem;
    height: 4rem;
    border-radius: 10px;
    font-size: .7rem;
    font-weight: 450;
    letter-spacing: .2rem;
    color: grey;
}

.contact-section__main-content__form__btn{
    background: none;
    border: 1.5px solid #004ca2;
    color: #004ca2;
    font-weight: 500;
    height: 2.5rem;
    width: 7rem;
}

/* Promise section style */

.promise-section{
    display: flex;
    background: linear-gradient(to bottom, white 0%, white 50%, rgb(29,29,37) 50%, rgb(29,29,37) 100%);
    padding: 5rem 7rem 0rem;
}

.promise-section__main-content{
    display: flex;
    background-color: #004ca2;
    width: 100vw;
    padding: 5rem;
    margin: 0rem 4rem 5rem;
    justify-content: space-between;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 72%, 90.5% 100%, 0 100%);
}

.promise-section__main-content::before{
    content: "";
    width: 125px;
    height: 125px;
    background-color: #4f83c7;
    position: absolute;
    top: 751rem;
    right: 10rem;
    border-top-left-radius: 20%;
    transform: rotate(-5deg);
}

.promise-section__main-content__context{
    display: flex;
    flex-direction: column;
}

.promise-section__main-content__context__title{
    font-size: .7rem;
    font-weight: 550;
    letter-spacing: 2.5px;
    color: rgb(107,187,249);
    margin-bottom: 1rem;
}

.promise-section__main-content__context__addressing{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.8rem;
    max-width: 25rem;
    letter-spacing: -1.14px;
    color: white;
    margin-bottom: 2rem;
}

.promise-section__main-content__context__description{
    color: white;
    max-width: 25rem;
    font-size: .8rem;
    letter-spacing: .2px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.promise-section__main-content__benefits{
    display: grid;
    grid-template-columns: repeat(2,.1fr);
}

.promise-section__main-content__benefits__aminity{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 15rem;
    font-weight: 450;
}

.promise-section__main-content__benefits__aminity__img{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}
